
 /* Global */
 *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-image: url(../images/arg.png) ;
    background-repeat: no-repeat;
    background-size: 1920px 1080px;
} 

.marca{
  font-size: 30px;
  font-family: sans-serif;
  color: gold;
}

#logomessi{
    width: 25px;
    height: 25px;
}

/* Navbar */
.navbar-collapse{
  display: inline-block;
  font-size: 17px;
  padding: 5px 0; 
  margin-top: 10px;  
  margin-bottom: 0px;
}

.navbar-brand{    
    padding: 5px 0;   
    margin-bottom: 0px;
    margin-left: 1380px; 
}

.navbar-collapse ul li a:hover{
    opacity: .5;
}

/* Carousel */
/* Ajuste de imagen del carousel */
.adjust{
    margin-top: 100px;
    margin-left: 350px;
    margin-bottom: 60px;
    height: 700px;
    width: 1200px;
} 

#carouselExampleControlsNoTouching{
  margin-top: 0;
  margin-bottom: 0;
}

/* Social */
.social {
  display: block;
  width: 100%;
}

.social p {
  color: grey;
  text-align: center;
  font-size: 30px;
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.links a {
  margin: 0 30px;
}

.links a i {
  color: black;
  font-size: 2rem;
}

.links a i:hover{
  opacity: .3;
}

/* Footer */
.footer {
  color: #616161;
  font-size: 12px;
  padding: 20px 0;
  text-align: center;
  font-size: 1rem;
}

/* Vista mobil */
@media (max-width: 700px) {
  .menu-btn {
    display: block;
  }

  .menu-btn:hover {
    opacity: 0.5;
  }
  
  #carouselExampleControlsNoTouching{
    width: 500px;
    height: 280px;
  }

  .carousel-inner{
    width: 500px;
    height: 280px;
  }
  
  .adjust{
    width: 500px;
    height: 280px;
  }


  .nav-main ul.nav-menu {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: #2f3640;
    width: 50%;
    height: 100%;
    border-right: #ccc 1px solid;
    opacity: 0.9;
    padding: 30px;
    transform: translateX(-500px);
    transition: transform 0.5s ease-in-out;
  }

  .nav-main ul.nav-menu li {
    padding: 20px;
    border-bottom: #ccc solid 1px;
    font-size: 14px;
  }
  .nav-main ul.nav-menu li:last-child {
    border-bottom: 0;
  }

  .nav-main ul.nav-menu.show {
    transform: translateX(-20px);
  }

  .nav-main ul.nav-menu-right {
    margin-right: 50px;
  }

  .footer-links .footer-container {
    grid-template-columns: repeat(2, 1fr);
  }


}
